
 
   <div class="col-md-9 col-sm-8 col-xs-12 "> 
    <div class="table-responsive"></div>                                          
  
  <table class="table" cellpadding="1" cellspacing="1" border="1">
   <thead>
      <tr class="active">
        <th>Pages</th>
          
        <th>Title</th>
        
         
       <th><button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-search"></span> Search 
        </button></th>
       <th> <a href="#" class="btn btn-info btn-sm ">
          <span class="glyphicon glyphicon-plus"></span> Create new
        </a></th>
      </tr>
    <thead>
      <tr class="success">
        <th>ID</th>
        <th>Client Names</th>
        <th>Lorem Ipsum</th>
        <th>Lorem Ipsum</th>
      
      </tr>
      
      
    </thead>
    <tbody>
      <tr class="warning">
        <td>1</td>
        <td>Anna</td>
       <td>Lorem Ipsum</td>
        <td><a href="#" title="Update">
          <span class="glyphicon glyphicon-refresh"></span>
        </a>
        <a href="#" title="Edit">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
         <a href="#" title="Delete">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        </td>
      </tr>
      <tr class="success">
        <td>2</td>
        <td>Debbie</td>
        <td>Lorem Ipsum</td>
        <td><a href="#" title="Update">
          <span class="glyphicon glyphicon-refresh"></span>
        </a>
        <a href="#" title="Edit">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
         <a href="#" title="Delete">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        </td>
        
      </tr>
      <tr  class="warning">
        <td>3</td>
        <td>jack</td>
        <td>Lorem Ipsum</td>
       <td><a href="#" title="Update">
          <span class="glyphicon glyphicon-refresh"></span>
        </a>
        <a href="#" title="Edit">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
         <a href="#" title="Delete">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        </td>
      </tr>
       <tr class="success">
        <td>4</td>
        <td>roy</td>
       <td>Lorem Ipsum</td>
        <td><a href="#" title="Update">
          <span class="glyphicon glyphicon-refresh"></span>
        </a>
        <a href="#" title="Edit">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
         <a href="#" title="Delete">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        </td>
        
      </tr>
      <tr  class="warning">
        <td>5</td>
        <td>charlie</td>
        <td>Lorem Ipsum</td>
        <td><a href="#" title="Update">
          <span class="glyphicon glyphicon-refresh"></span>
        </a>
        <a href="#" title="Edit">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
         <a href="#" title="Delete">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        </td>
      </tr>
      <tr class="success">
        <td>6</td>
        <td>mack</td>
        <td>Lorem Ipsum</td>
        <td><a href="#" title="Update">
          <span class="glyphicon glyphicon-refresh"></span>
        </a>
        <a href="#" title="Edit">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
         <a href="#" title="Delete">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        </td>
      </tr>
    </tbody>
  </table>
  
  </div>
  </div>
</div>