<div class="container">
<div class="col-md-12 col-sm-12 col-xs-12">
 <div class="error-404">404 <span class="error-text">ERROR</span></div>
 
</div>
 
 <div class="error-text-bottom">Page doesn't exist or same other erroraccured. Go to our home <br>page or go back to <a href="/">home page</a></div>
 </div></div></div>
 
 <style>
	.footer-bg {
        background-color: #ff4102;
        float: left;
        height: auto;
        margin: 172px 0 0;
        min-height: auto;
        padding: 0;
        width:100%;
    }
   </style>