<!DOCTYPE html>
<html lang="en">
  <!-- call head template -->
  <% include templates/head.ejs%>
  <body>
    <!-- call header template -->
    <% include templates/headerafterlogin.ejs%>
    <!--  call body content-->
    <%- body %>
    <!-- call footer template -->
    <% include templates/footer.ejs%>
  </body>
</html>