<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="left-bar">
    <div class="left-bar-top">Manage Fitness Instructors</div>
    <div class="add-new"><a href="/admin/trainer/add">Add New</a></div>
    <div class="add-new"><a href="/admin/trainer/">View</a></div>
    <div class="left-bar-down">Manage Clients</div>
    <div class="add-new"><a href="/admin/client/add">Add New</a></div>
    <div class="add-new"><a href="/admin/client">View</a></div>
    <div class="left-bar-down">Setting</div>
    <div class="add-new"><a href="/admin/profile">Change Password</a></div>
  </div>
</div>