<div class="footer-bg">
   <div class="container">
   <div class="social">
   <center><img src="/images/social-icons.png" alt=""></center>
   </div>
   <div class="footer-text">
   <h5>© 2015 @. All Rights Reserved.</h5> 
   </div>
   </div>
   </div>


    
   <script type="text/javascript">
	$("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#login_form").click(function(){
			$(".social_login").hide();
			$(".user_login").show();
			return false;
		});

		// Calling Register Form
		$("#register_form").click(function(){
			$(".social_login").hide();
			$(".user_register").show();
			$(".header_title").text('Register');
			return false;
		});

		// Going back to Social Forms
		$(".back_btn").click(function(){
			$(".user_login").hide();
			$(".user_register").hide();
			$(".social_login").show();
			$(".header_title").text('Login');
			return false;
		});

	})
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   