<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="left-bar">
    <div class="left-bar-top">Clients</div>
    <div class="add-new"><a href="/trainer/listclients">View all</a></div>
    <div class="add-new"><a href="/trainer/addnewclient">Add New</a></div>
    
    <div class="left-bar-down">Setting</div>
    <div class="add-new"><a href="#">Change Password</a></div>
  </div>
</div>