<form action="/users/add" method="post">
    <input type="text" name="fname" placeholder="First Name" />
    <input type="text" name="lname" placeholder="Last Name" />
    <input type="submit" name="Submit" value="submit"  />
    
</form>